/* 	------
	------
	HEADER
	------
	--- */

#header-nav{
	border-radius: 0px;
	border: 0px;
	background-color: #4ABDAC;
}

/* LOGO IMAGES, LARGE AND SMALL*/
#logo-img-xl-div{
	background-image: url("../images/AurumLogoXL.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 400px;
	height: 100px;
	margin: 20px;
	object-fit: contain;
}

#logo-img-div{
	background-image: url("../images/AurumLogo.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 200px;
	height: 50px;
	margin: 20px;
	object-fit: contain;
}

#logo-img-small-div{
	background-image: url("../images/AurumLogo.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100px;
	height: 25px;
	margin: 5px;
	object-fit: contain;
}

/* THE NAME OF THE BRAND*/
.navbar-brand {
	padding: 10px 0px 20px 10px;
	margin: 0px;
	vertical-align: middle;
}

/*.navbar-brand h1 {
	font-family: 'Lora', serif;
	color: black;
	font-size: 3.3vw;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #7F7F7F;
	margin: 0px;
	padding: 0px;
	line-height: 1.5;
}*/

/*
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}*/

.navbar-brand p{
	color: #FC4A1A;
	text-transform: uppercase;
	font-size: 0.75em;
	vertical-align: middle;
}

.navbar-brand span{
	vertical-align: middle;
}


/* Menu Items */
#nav-list{
	font-size: 1.5em;
	margin-top: 0px;
	color: #FC4A1A;
}

#nav-list a {
	color: black;
	text-align: center;
	color: #FC4A1A;
}

#nav-list a:hover {
	color: #F78733;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #FC4A1A;
}

/* 	----------------
	----------------
	HEADER ENDS HERE
	----------------
	------------- */

/* 	------------------------
	------------------------
	MAIN CONTENT STARTS HERE
	------------------------
	--------------------- */

body{
	font-size: 1.2em;
	color: #000000;
	background-color: white;
	font-family: sans-serif;
}

.container .jumbotron{
	padding: 0px;
	border-radius: 0px;
}


/*	--------------------
	Table styles go here
	-------------------- */
table {
	width: 100%;
}

/*	Table for list of jobs */
#listOfJobs > table, #listOfJobs th, #listOfJobs td {
    border: 1px solid #DFDCE3;
    border-collapse: collapse;
    font-size: 1.1em;
}
#listOfJobs tr {
	line-height: 1.6em;
}
#listOfJobs th {
	font-weight: bold;
	text-align: center;
}
#listOfJobs td {
	text-align: center
}
#listOfJobs tr:nth-child(odd) {
    background-color: #DFDCE3;
}

/*	Search Form Table styles go here*/
td > input {
	width: 100%;
	padding: 4px;
	font-size: 1.1em;
}
#searchForm td {
	padding: 4px;
}

#locationBox, #durationBox, #startDateBox, #countryBox {
	line-height: 3em;
	vertical-align: bottom;
}

#countryDropDown {
	width: 100%;
}

.btn {
	border: 0px;
	background-color: #DFDCE3;
}

/* 	------------------
	------------------
	MEDIA QUERIES HERE
	------------------
	--------------- */
.visible-xl {
	display: none !important;
}
/* Very large */
@media (min-width: 2200px) {
	.container {
		width: 2150px;
	}
	.visible-xl {
		display: block !important;
	}
	.visible-lg {
		display: none !important;
	}
}

/* Ultra-Large devices */
@media (max-width: 2199px) and (min-width: 1750px) {
	.container {
		width: 1710px;
	}
	.visible-xl {
		display: block !important;
	}
	.visible-lg {
		display: none !important;
	}
}

/* XLarge devices */
@media (max-width: 1749px) and (min-width: 1450px) {
	.container {
		width: 1410px;
	}
	.visible-xl {
		display: block !important;
	}
	.visible-lg {
		display: none !important;
	}
}

/*	Large devices*/
@media (max-width: 1449px) and (min-width: 1200px){
	
}

/*	Medium devices */
@media (max-width: 1199px) and (min-width: 992px){
	
}

/*	Small devices*/
@media (max-width: 991px) and (min-width: 768px){
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
	.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		padding-bottom: 15px;
	}
	#nav-list{
		margin-top: -5px;
	}
	.navbar-brand {
		padding-top: 0px;
	}
	.navbar-brand h1, .navbar-brand p {
		margin-left: 20px;
	}
}

/*	Extra small devices*/
@media (max-width: 767px){
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
	.col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
		padding-bottom: 15px;
	}
	#nav-list{
		margin-top: -5px;
	}
	.navbar-brand {
		padding-top: 0px;
	}
	.navbar-brand h1, .navbar-brand p {
		margin-left: 20px;
	}
}