/* 	------
	------
	HEADER
	------
	--- */

#header-nav{
	border-radius: 0px;
	border: 0px;
	background-color: #4ABDAC;
}

/* LOGO IMAGES, LARGE AND SMALL*/
#logo-img-div{
	background-image: url("../images/AurumLogo.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 200px;
	height: 50px;
	margin: 20px;
	object-fit: contain;
}

#logo-img-small-div{
	background-image: url("../images/AurumLogo.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100px;
	height: 25px;
	margin: 5px;
	object-fit: contain;
}

/* THE NAME OF THE BRAND*/
.navbar-brand {
	padding: 10px 0px 20px 10px;
	margin: 0px;
	vertical-align: middle;
}

/*.navbar-brand h1 {
	font-family: 'Lora', serif;
	color: black;
	font-size: 3.3vw;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #7F7F7F;
	margin: 0px;
	padding: 0px;
	line-height: 1.5;
}*/

/*
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}*/

.navbar-brand p{
	color: #FC4A1A;
	text-transform: uppercase;
	font-size: 0.75em;
	vertical-align: middle;
}

.navbar-brand span{
	vertical-align: middle;
}


/* Menu Items */
#nav-list{
	font-size: 1.5em;
	margin-top: 0px;
	color: #FC4A1A;
}

#nav-list a {
	color: black;
	text-align: center;
	color: #FC4A1A;
}

#nav-list a:hover {
	color: #F78733;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #FC4A1A;
}

/* 	----------------
	----------------
	HEADER ENDS HERE
	----------------
	------------- */

/* 	------------------------
	------------------------
	MAIN CONTENT STARTS HERE
	------------------------
	--------------------- */

body{
	font-size: 1.2em;
	color: #000000;
	background-color: white;
	font-family: sans-serif;
}

.container .jumbotron{
	padding: 0px;
	border-radius: 0px;
}


/*	Table styles go here*/
#listOfJobs > table, #listOfJobs th, #listOfJobs td {
    border: 1px solid #DFDCE3;
    border-collapse: collapse;
    font-size: 1.1em;
}
#listOfJobs th {
	font-weight: bold;
}
th, td {
	text-align: center;
}
#listOfJobs tr:nth-child(odd) {
    background-color: #DFDCE3;
}
table {
	width: 100%;
}
td > input {
	width: 100%;
	padding-right: 10px;
}

/* 	------------------
	------------------
	MEDIA QUERIES HERE
	------------------
	--------------- */

/*	Large devices*/
@media (min-width: 1200px){
	.container .jumbotron{
		background-image: url('../images/gotham-lg.jpg');
		background-repeat: no-repeat;
		height: 646px;
	}
}

/*	Medium devices */
@media (max-width: 1199px) and (min-width: 992px){
	.container .jumbotron{
		background-image: url('../images/gotham-md.jpg');
		background-repeat: no-repeat;
		height: 534px;
	}
}

/*	Small devices*/
@media (max-width: 991px) and (min-width: 768px){
	#nav-list{
		margin-top: -5px;
	}
	.navbar-brand {
		padding-top: 0px;
	}
	.navbar-brand h1, .navbar-brand p {
		margin-left: 20px;
	}

	.container .jumbotron{
		background-image: url('../images/gotham-sm.jpg');
		background-repeat: no-repeat;
		height: 421px;
	}
}

/*	Extra small devices*/
@media (max-width: 767px){
	#nav-list{
		margin-top: -5px;
	}
	.navbar-brand {
		padding-top: 0px;
	}
	.navbar-brand h1, .navbar-brand p {
		margin-left: 20px;
	}
}